<!-- Create macro for all the projects in project section.-->


{% macro renderModal(idModal, idLabel) -%}

<!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
  data-bs-target="#{{idModal}}">
  View Details
</button>
<!-- Modal -->
<div class="modal fade" id="{{idModal}}" tabindex="-1"
  aria-labelledby="{{idLabel}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{idLabel}}">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{caller()}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}
