{% extends "index.html" %}
{% block head %}
{% block title %}
<title>
W.S. Bio
</title> 
{% endblock %}

    {{ super() }}
    {% block customstyle %}
    {% endblock %}

    
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col" id="d-start" style="text-align: center;">

        </div>        
    </div>
</div>
  
{% endblock %}


{% block footer  %}
    {{super()}}
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static' ,filename='js/bio.js')}}"></script>
{% endblock %}