{% extends "index.html" %}

{% block head %}

{% block title %}
<title>
    W.S. Projects
</title>
{% endblock %}

{{ super() }}
{% block customstyle %}
<!--<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }


    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
-->
{% endblock %}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Projects Collection</h1>
            <p class="lead text-muted">This is a complete set of projects I have worked on. I will update them in time
                and feel free to follow the updates through the follow button.<p>
                </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">

    <div class="container">
        <div class="row ">
            <div class="col-sm-6 d-flex align-items-center" >
                <div class="card shadow-sm" style="width: 18rem; height: 23rem;">
                    <img src="{{url_for('static' , filename='imgs/wshapeProjBG.jpg')}}" />

                    <div class="card-body">
                        <h5 class="card title" style="border:0;">Water Shaped</h5>
                        <p class="card-text">My "Hello World!" in the web-dev field,
                            just a simple and fluid portfolio.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% include "projects/watershaped.html" %}
                            </div>
                            <small class="text-muted">2 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex ">
                <div class="card  shadow-sm" style="width: 18rem;">

                    <img class="card-img" style="margin:auto;max-width:77%;"src="{{url_for('static' , filename='imgs/AI.png')}}" />

                    <div class="card-body align-items-left">
                        <h5 class="card title" style="border:0;">Thesis Project</h5>
                        <p class="card-text">This should be a description of my thesis project.
                          
                        </p>
                        <div class="d-flex justify-content-between ">
                            <div class="btn-group">
                                {% include "projects/thesisProject.html" %}
                            </div>
                            <small class="text-muted">4 mins</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block footer  %}
{{super()}}
{% endblock %}
